<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Minguinho's schedule</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/poll.css' %}">
</head>
<body>
<div class="page-header">
    <a style="color:#ffffff" href="/admin">Minguinho's Schedule</a>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>

