<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Minguinho's schedule</title>
    <link rel="stylesheet" href="{% static 'css/poll.css' %}">
</head>
<body>
<div>
    <h1><a href="/admin">Minguinho's Schedule</a></h1>
</div>

<div>
    <h2><a href="/admin/poll/post">Post List</a> </h2>
</div>
{% for post in posts %}
<div>
    <p>published: {{ post.published_date }}</p>
    <h2><a href="">{{ post.title }}</a></h2>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endfor %}

</body>
</html>
